.menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    background-color: #e2f5ff;
}

.menu-button {
    width: 100%;
    height: 80px;
    font-size: 1.5em;
    border: none;
    background-color: #e2f5ff;
    outline: none;
}

.is-active button {
    background-color: rgb(165, 212, 237);
}